{% extends 'base.html' %}

{% block head_title %}{{ block.super }} - {{ section.name_section }}{% endblock head_title %}

{% block content %}

<div class="card my-3">
  <div class="card-header">
    <h3>{{ section.name_section }}</h3>
    <h6 class="card-text">{{ section.description }}</h6>
  </div>

  <div class="card-body">
    {% for discussion in discussions %}
    <p><a href="{{ discussion.get_absolute_url }}">{{ discussion.title }}</a></p>
    <p>{{ discussion.author_discussion }}</p>
    {% endfor %}
  </div>
</div>
<a class="btn btn-sm btn-info" href="{% url 'create_discussion' pk=section.pk %}">Create Discussion</a>

{% endblock content %}
