{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - {{ discussion.title }}{% endblock head_title %}

{% block content %}

  {% for post in posts_discussion %}
      <div class="card my-3">
      {% if forloop.first %}
          <div class="card-header pb-0">
            <h3>{{ discussion.title }}</h3>
            <p class="text-muted">{{ discussion.creation_date|date:"D d M Y" }}
            <br>in: {{ discussion.belong_section }}</p>
          </div>
      {% else %}
          <div class="card-header py-0">
            <p class="text-muted mb-0">{{ post.creation_date|date:"d M Y" }}</p>
          </div>
      {% endif %}
        <div class="card-body">
          <div class="row">
            <div class="col-xl-2 col-4">
              <p class="mb-0"><a href="{% url 'user_profile' username=post.author_post.username %}"><strong>{{ post.author_post }}</strong></a></p>
              <p class="text-muted mb-0">Joined: {{ post.author_post.date_joined }}</p>
              <p class="text-muted mb-0">Post: {{ post.author_post.posts.count }}</p>
            </div>
            <div class="col-xl-10 col-8">
              <p class="my-0">{{ post.content|linebreaks }}</p>
            </div>
          </div>
        </div>

          <!-- <h6 class="card-text">{{ section.description }}</h6> -->
      </div>

  {% endfor %}

  {% if request.user.is_authenticated %}
    {% include 'forum/form_response.html' %}
  {% else %}
    <div class="alert alert-info" role="alert">
      In order to join a discussion you need to <a href="{% url 'login' %}?next={{ request.get_full_path }}">Log In</a>
    </div>
  {% endif %}
{% endblock content %}
